<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 align="center">Giraffe subspecies</h2>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <h3 align="center">Angolan giraffe</h3>
                    <img src="~/Images/Learn/AG North-west Namibia (c) Julian Fennessy GCF.bmp" alt="Angolan Giraffe">
                    <div class="caption">
                        <p>Despite generally being called the Angolan (or sometimes smoky) giraffe, 
                            this subspecies is thought to be extinct in Angola...</p>
                        <br />
                        <br />
                        <a href="~/Learn/Angolan" class="btn btn-safari btn-block" role="button">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <h3 align="center">Kordofan giraffe</h3>
                    <img src="~/Images/Learn/KG Zakouma NP Chad © Daniel Cornelis.jpg" alt="...">
                    <div class="caption">
                        <p>The Kordofan giraffe’s range includes some of Africa’s more hostile areas: southern Chad, Central African Republic, 
                            northern Cameroon and northern Democratic Republic of Congo...</p>
                        <a href="~/Learn/Kordan" class="btn btn-safari btn-block" role="button">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <h3 align="center">Nubian giraffe</h3>
                    <img src="~/Images/Learn/NG Gambella NP Ethiopia © Ludwig Siege.jpg" alt="...">
                    <div class="caption">
                        <p>The Nubian giraffe is the nominate subspecies, meaning its Latin subspecific name is the same as that of the entire species because it was the first specimen recorded...</p>
                        <br />
                        <a href="~/Learn/Nubian" class="btn btn-safari btn-block" role="button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <h3 align="center">South African giraffe</h3>
                    <img src="~/Images/Learn/SAG Kgalagadi Transfronier Park RSA © Nico Smit.jpg" alt="...">
                    <div class="caption">
                        <p>The South African (or Cape) giraffe ranges from west to east across northern South Africa, 
                            southern Botswana and southern Zimbabwe, and there are efforts under way to reintroduce it into Mozambique...</p>
                        <a href="~/Learn/SouthAfrican" class="btn btn-safari btn-block" role="button">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <h3 align="center">West African giraffe</h3>
                    <img src="~/Images/Learn/WAG Niger (c) Julian Fennessy.jpg" alt="...">
                    <div class="caption">
                        <p>At the beginning of the 20th century the West African giraffe was widely distributed from Nigeria to Senegal, 
                            but by the late 1990s only 50 individuals remained in the whole of West Africa...</p>
                        
                        <a href="~/Learn/WestAfrican" class="btn btn-safari btn-block" role="button">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <h3 align="center">Reticulated giraffe</h3>
                    <img src="~/Images/Learn/RG Samburu NP Kenya ©  Julian Fennessy GCF.jpg" alt="...">
                    <div class="caption">
                        <p>Although sometimes also called the netted or Somali giraffe, 
                            this subspecies is better known as the reticulated giraffe...</p>
                        <br />
                        <br />
                        <a href="~/Learn/Reticulated" class="btn btn-safari btn-block" role="button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <h3 align="center">Rothschild’s giraffe</h3>
                    <img src="~/Images/Learn/RG Murchison Falls NP Uganda2 (c) Julian Fennessy GCF.jpg" alt="...">
                    <div class="caption">
                        <p>Rothschild’s giraffe, also known as the Baringo or Ugandan giraffe, 
                            ranges through Uganda and west– central and central Kenya...</p>
                        <br />
                        <br />
                        <a href="~/Learn/Rothschild" class="btn btn-safari btn-block" role="button">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <h3 align="center">Thornicroft’s giraffe</h3>
                    <img src="~/Images/Learn/TG South Luangwa NP Zamibia2 (c) Julie Maher.jpg" alt="...">
                    <div class="caption">
                        <p>Thornicroft’s giraffe (occasionally also known as the Rhodesian giraffe) 
                            survives as an entirely isolated population in a small area of north-eastern Zambia...</p>
                        <br />
                        <a href="~/Learn/Thornicroft" class="btn btn-safari btn-block" role="button">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thumbnail">
                    <h3 align="center">Masai giraffe</h3>
                    <img src="~/Images/Learn/MG Serengeti NP Tanzania © Megan Strauss.jpg" alt="...">
                    <div class="caption">
                        <p>The Masai, or Kilimanjaro, giraffe ranges across central and southern Kenya and south through Tanzania, 
                            and extralimital populations have been translocated into Rwanda...</p>
                        <br />
                        <a href="~/Learn/Masai" class="btn btn-safari btn-block" role="button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            var currentPage = document.getElementById("li10");
            currentPage.className = "active";
        });
    </script>
}