<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://giraffespotter-001-site1.myasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://giraffespotter-001-site1.myasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>giraffespotter-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\giraffespotter-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="Data Source=SQL5002.myASP.NET;Persist Security Info=True;User ID=DB_9B1508_gswebapp_admin;Password=WGD2162014" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GiraffeSpotter.Models.UsersContext, GiraffeSpotter" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GCF_ModelsContainer" Order="6" Enabled="False">
          <Destination Path="Data Source=SQL5002.myASP.NET;Persist Security Info=True;User ID=DB_9B1508_gswebapp_admin;Password=WGD2162014" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GiraffeSpotter.Models.GCF_ModelsContainer, GiraffeSpotter" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5002.myASP.NET;Persist Security Info=True;User ID=DB_9B1508_gswebapp_admin;Password=WGD2162014</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GCF_ModelsContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GCF_Models.csdl|res://*/Models.GCF_Models.ssdl|res://*/Models.GCF_Models.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5002.myASP.NET;Persist Security Info=True;User ID=DB_9B1508_gswebapp_admin;Password=WGD2162014"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>