 @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8 col-md-offset-2">
    <!-- Navigation -->
    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <div class="intro-message">
                        <h1>Thank you</h1>
                        <h3>For contributing to GiraffeSpotter, we look forward to seeing more posts from you soon!</h3>



                        <div class="col-md-6 col-md-offset-3">
                            <br />
                            <br />
                            <a href="https://giraffeconservation.org/donate-giraffe-conservation-foundation/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-dollar fa-fw"></i><span class="network-name">Donate</span></a>
                            <br />
                            <br />
                            <a href="~/Observation/CreateLandingPage" class="btn btn-default btn-lg"><i class="fa fa-upload fa-fw"></i><span class="network-name">Upload another observation</span></a>
                            <br />
                            <br />
                            <a href="http://www.giraffeconservation.org" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-refresh fa-fw"></i><span class="network-name">Go to GCF website</span></a>

                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <br />
    <br />

</div>
  