<div class="row">
    <br />
    <div class="col-md-10 col-md-offset-2">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/Images/g3Croped.jpg" class="col-md-12" />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div class="panel-footer">

                    <a href="~/Games/Image1Easy" class="btn btn-block btn-safari btn-sm">Easy</a>
                    <br />
                    <a href="~/Games/Image1Medium" class="btn btn-block btn-safari btn-sm">Medium</a>
                    <br />
                    <a href="~/Games/Image1Hard" class="btn btn-block btn-safari btn-sm">Hard</a>
                    <br />

                    <br />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/Images/GS_Spotter_Finals_no_web2.jpg" class="col-md-12" />
                    <br />
                </div>
                <div class="panel-footer">

                    <a href="~/Games/Image2Easy" class="btn btn-block btn-safari btn-sm">Easy</a>
                    <br />
                    <a href="~/Games/Image2Medium" class="btn btn-block btn-safari btn-sm">Medium</a>
                    <br />
                    <a href="~/Games/Image2Hard" class="btn btn-block btn-safari btn-sm">Hard</a>
                    <br />

                    <br />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/Images/g4Croped.jpg" class="col-md-12" />
                    <br />
                </div>
                <div class="panel-footer">

                    <a href="~/Games/Image3Easy" class="btn btn-block btn-safari btn-sm">Easy</a>
                    <br />
                    <a href="~/Games/Image3Medium" class="btn btn-block btn-safari btn-sm">Medium</a>
                    <br />
                    <a href="~/Games/Image3Hard" class="btn btn-block btn-safari btn-sm">Hard</a>
                    <br />

                    <br />
                </div>
        </div>
    </div>
</div>

</div>
